
<div id="{{page.header.title}}" class="{{body_classes}} modular-row content">
    <div class="container text-center mx-auto md:w-10/12">
        {{ page.content|raw }}
        <div class="flex flex-wrap justify-center md:space-x-2 md:space-y-2 py-8 lg:py-16">  
            {% for q in page.header.questions %}
                <div class="md:w-5/12 shadow-md text-left">
                    {% if q.heading %}
                        <div class="">
                            <h2 style="margin-top:2rem">{{q.q}}</h2>	
                            {{q.a|markdown}}
                        </div>
                    {% else %}
                    <div class="question">
                        <h3 class="hover:bg-gray-100 flex flex-row justify-between transition-colors duration-300 mt-0 mb-0 px-4 py-3 cursor-pointer " style="margin:0px">
                        <a class="inline-block pr-4 text-base text-secondary font-extrabold text-left" data-toggle="collapse" data-target="#collapse{{loop.index}}" aria-expanded="true" aria-controls="collapse{{loop.index}}">
                            {{q.q}}
                        </a>
                        <i class=" fa fa-plus text-base font-extrabold my-auto float-right"></i>
                        </h3>

                        <div id="collapse{{loop.index}}" class="collapse hidden py-2 px-8 content" aria-labelledby="heading{{loop.index}}" data-parent="#accordion">
                            {{q.a|markdown}}
                        </div>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
	$(document).ready(function(){
		$(".cursor-pointer").on("click", function(){
			$(this).next().toggle();
			
		});
	});
</script> 


