<div class="{{page.header.classes}}" id="{{page.title}}">
    <div class="md:w-9/12 mx-auto text-center text-white content py-10 lg:py-12">
        {{content}}
        <div class="flex flex-col md:flex-row md:justify-evenly pt-4">
            {% for award in page.header.awards %}
                <div class="text-center">
                    {{ page.media[award.icon].html('','','w-5/12 mx-auto award-icon') }}
                    <span>{{ award.year }}</span>
                    <h5 class="text-white my-4">{{ award.title }}</h5>
                    <p>{{ award.text }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>