<div id="{{page.header.title}}" class="{{page.header.classs}}">
    <div class="text-center content container mx-auto w-10/12 py-10 lg:py-12">
        {{content|raw}}

        <div class="family-wrapper flex flex-row justify-center space-x-4 py-8">
            {% for member in page.header.family %}
                <div class="family-box rounded bg-white shadow-md w-3/12">
                    <div class="head">
                        {{ page.media[member.image].html('','','w-full h-48') }}
                    </div>
                    <div class="body p-3">
                        <h3 class="text-bold text-black">{{member.name}}</h3>
                        <span>{{member.role}}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>