<div class="visibility-track" id="{{page.title|hyphenize}}">
    <div class="w-5/12 relative">
        {{ page.media[header.image_shape].quaity(100).html('','','w-full absolute offer-image') }}
    </div>
    <div class="container w-10/12 ml-auto pt-10 pl-0 lg:py-12">
        <div class="flex flex-row justify-evenly space-x-8">
            <div class="w-6/12 py-12 content z-10"> 
                {% if content %}
                    {{content}}
                {% endif %}
                <a href="#">
                    <button class="bg-red-500 hover:bg-red-700 text-white rounded font-bold py-2 px-4 mt-3">
                        Find an agent
                    </button> 
                </a>
            </div>
            <div class="flex flex-wrap justify-end content-end w-3/12">
                {{ page.media[header.image_left].resize(150).quaity(100).html('','','w-5/6 rounded-lg offer-image') }}
            </div>
            <div class="flex flex-wrap justify-center content-start w-3/12">
                {{ page.media[header.image_right].resize(200).quaity(100).html('','','w-4/6 rounded-lg offer-image') }}
            </div>
        </div>
		{# {% for offers in page.header.offers %}
			<div class="flex flex-col-reverse {{ (loop.index is odd) ? 'lg:flex-row ' : 'lg:flex-row-reverse' }} {{ loop.last ? 'mb-8' : 'mb-10 lg:mb-24'}}">
				<div class="lg:w-1/2 my-8 lg:my-auto {{ loop.index is odd ? 'lg:pr-12 xl:pr-20' : 'lg:pl-12 xl:pl-20'}} {{service.classes}}">			
					<h2 class="{{page.header.title_classes ?? 'text-secondary text-left text-3xl md:text-4xl uppercase tracking-widest font-black mb-4'}}">{{service.title}}</h2>
						<div class="content">{{service.text|markdown}}</div>
						{% if service.button_page and service.button_text %}
							<a class="btn btn-accent mt-2 lg:mt-4" href="{{page.find(service.button_page).url}}">{{ service.button_text }}</a>
						{% endif %}
				</div>
				<div class="lg:w-1/2 mx-auto lg:my-auto w-full border-8 border-gray-300	 {{ (loop.index is odd) ? 'text-right' : '' }} ">
					{% if offers.youtube %}
						<div class="relative block w-100 h-full p-0 border-solid border-gray-200" style="padding-top:56.25%">
							<iframe class="absolute top-0 left-0 w-full h-full"
								src="https://www.youtube.com/embed/{{service.youtube}}?rel=0"
								srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,
								span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style>
								<a href=https://www.youtube.com/embed/{{service.youtube}}?autoplay=1&rel=0>
								<img src=https://img.youtube.com/vi/{{service.youtube}}/hqdefault.jpg><span>▶</span></a>"
								frameborder="0"
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen
								title="{{service.title}} | {{upkeep.company_name}}"></iframe>
						</div>
					{% else %}
						{{page.media[service.image].resize(800).quaity(60).html('','','w-full h-ful service-image')}}
					{% endif %}				
				</div>
			</div>
		{% endfor %} #}
    </div>
</div>
