<div id="{{page.header.title}}" class="{{page.header.classes}}">
	<div class="container mx-auto pt-12">
		<div class="text-center content xl:w-2/3 mx-auto">
			{{page.content}}
		</div>		
	</div>

    <div id="tabs" class="bg-white w-10/12 mx-auto md:p-8 p-4" data-ride="carousel">
		<div class="flex flex-wrap justify-center">
			{% for tab in header.slides %}
                <a data-target="#tabs" data-slide-to="{{loop.index0}}" role="button" class="border-b-2 w-1/2 md:w-1/3 lg:w-1/4 xl:w-auto tab px-3 py-1 mb-4 xl:mb-0 xl:px-5 xl:py-4 transition-all text-center duration-300 inline-block  {{ loop.first ? 'text-accent ' : 'bg-white text-black'}} text-sm hover:bg-gray-200  font-extrabold">{{tab.name}}</a>
			{% endfor %}
		</div>

		<!-- Wrapper for slides -->
		<div class="tab-inner mx-auto w-10/12 py-10">
			{% for tab in header.slides %}
				<div class="tab-item {{ loop.first ? 'block' : 'hidden'}}" data-slide-index="{{loop.index0}}">
					<div class="tab-content content flex flex-row">
						<div class="w-1/2 pr-8">
                            <div class="my-6">
                                {{tab.content|markdown}}
                            </div>
                            {% for b in tab.buttons %}
                                <a href="{{ base_url ~ b.url}}" rel="nofollow" role="button" class="rounded bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 my-16 {{ b.classes ? b.classes : 'btn-outline-primary'}}">{{b.text}}</a>
                            {% endfor %}
                        </div>
                        <div class="w-1/2">
                            {{page.media[tab.plan].html('','','w-full rounded shadow-md')}}
                        </div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>	
</div> 

<script type="text/javascript">
    $(document).ready( function() {
        $('#tabs').on('click','.tab', function(e) {
            e.preventDefault();
            var clicked = $(this);
            $(clicked).toggleClass('text-accent ');
            //$(clicked).siblings().addClass('text-primary');
            $(clicked).siblings().removeClass('text-accent');

            var indexSelected = $(this).attr('data-slide-to');	
            var slides = $('#tabs .tab-inner .tab-item');
            $.each(slides, function(index, slide) {
                var slideIndex = $(slide).attr('data-slide-index');
                if (parseInt(slideIndex) === parseInt(indexSelected)) {
                    $(slide).addClass('block');
                    $(slide).removeClass('hidden');
                } else {
                    $(slide).addClass('hidden');
                    $(slide).removeClass('block');
                }
            });		
        });

        setInterval(function() {
            var slides = $('#tabs .tab-inner .tab-item');
            var activeSlide = $('#tabs .tab-inner .tab-item.block');
            if (activeSlide) {
                var slideIndex = $(activeSlide).attr('data-slide-index');
                var newActiveSlideIndex = parseInt(slideIndex) + 1;
                if (newActiveSlideIndex >= slides.length) {
                    newActiveSlideIndex = 0;
                }
                $.each(slides, function(index, slide) {
                    var slideIndex = $(slide).attr('data-slide-index');
                    if (parseInt(slideIndex) === parseInt(newActiveSlideIndex)) {

                        $('a[data-slide-to="'+slideIndex+'"]').toggleClass('text-accent');
                        $('a[data-slide-to="'+slideIndex+'"]').siblings().addClass('text-accent');
                        $('a[data-slide-to="'+slideIndex+'"]').siblings().removeClass('text-accent');

                        $(slide).addClass('block');
                        $(slide).removeClass('hidden');
                    } else {
                        $(slide).addClass('hidden');
                        $(slide).removeClass('block');
                    }
                });
            }
        }, 10000);
    });
</script>